.parrafo{
margin-left: 12%;
    margin-top: 20%; 
    position: relative;
    z-index: 10;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.inicioCampanas{
    color: white;
}

.contenido{
}

.arrowDown{  
    background-image: url(../../../images/Login/arrowD1.png);
    background-repeat: no-repeat; 
    height: 70px;
    width: 60px; 
    position: relative;
    left: 48%;
    margin-top: 15%;
    cursor: pointer; 
} 
.autenticacion{
    height: 80%;
    background-color: red;
    font-size: 36px;
    position: relative;
    left: 32%;
    width: 35%;
    margin-top: 7%;
}

.display{
    display:  initial !important;
}

.equisLogin{
    background-image: url(../../../images/Login/equis1.png);
    background-repeat: no-repeat;
    height: 5%;
    font-size: 36px;
    position: relative;
    left: 48%;
    width: 4%;
    margin-top: 15%;
    cursor: pointer;
}